@import "font-awesome";

* {
	font-family: -apple-system, BlinkMacSystemFont;
	font-size: 14px;
}

textarea {
	border: 1px solid #d8d8d8;
	padding: 5px;
	border-radius: 2px;
	width: 95%;
	&:focus {
		outline: none;
	}
}

.container {
	width: 100%;
	height: 700px;
	background-color: #fff;
}

.content {
	width: 95%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.nav {
	background-color: #f5f5f5;
	height: 28px;
	padding: 10px 0;
	border-bottom: 1px solid #d8d8d8;
}

.logo {
	float: left;
	margin-left: 145px;

	img {
		height: 28px;
		width: 28px;
	}
}

.links {
	float: right;
	padding-right: 145px;
	padding-top: 5px;
	a {
		text-decoration: none;
		color: black;
	}
}

.search-bar {
	float: left;
	margin-left: 20px;
}

.github-search {
	input {
		width: 300px;
		border-radius: 3px;
		border: 2px solid #ddd;
		padding: 5px;
		font-size: 12px;
		box-shadow: none;
		&:focus {
			outline: none;
			border: 2px solid #51a7e1;
			box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
		}
	}
}

.profile-link {
	cursor: pointer;
}

.login-container {
	margin: auto;
	width: 300px;
}

.login {
	input{
		display: block;
		width: 242px;
	}
}

.sign-in-button {
	color: #fff;
	width: 248px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
	background-color: #60b044;
	background-image: linear-gradient(#8add6d, #60b044);
	border: 1px solid #5ca941;
	border-radius: 3px;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	&:focus {
		outline: none;
	}
}

.sign-up-box {
	padding: 15px 20px;
	margin-top: 12px;
	text-align: center;
	border: 1px solid #d8dee2;
	border-radius: 5px;
	width: 274px;
	background-color: #f9f9f9;
}

.register-link {
	text-align: center;
	text-decoration: none;
	color: #4078c0;
}

.wrong {
	color: red;
}

.login-box {
	background-color: #f9f9f9;
	border: 1px solid #d8dee2;
	width: 274px;
	padding:20px;
	margin-top: 40px;
	border-radius: 3px;
	div {
		margin-bottom: 7px;
	}
	input {
		width: 256px;
		border-radius: 3px;
		border: 2px solid #d8d8d8;
		padding: 6px 8px;
		font-size: 12px;
		box-shadow: none;
		margin-top: 5px;
		margin-bottom: 15px;
		&:focus {
			outline: none;
			border: 2px solid #51a7e1;
			box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
		}
	}
	button {
		width: 100%;
		margin-top: 20px;
	}
}

.footer {
	height: 75px;
}

//profile

.profile {
	background-color: #fff;
}

.search-repo {
	margin: 25px;
	padding: 10px;
	border: 1px solid #d8d8d8;
	width: 75%;
	margin-right: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 35px;
}

.user-info {
	float: left;
	padding-top: 75px;
	margin-left: 120px;
	img {
		height: 230px;
		width: 230px;
		border-radius: 3px;
	}
	span {
		display: block;
	}
}

.name {
	font-size: 30px;
}

.username {
	width: 230px;
	padding-bottom: 15px;
	border-bottom: 1px solid black;
	color: #666;
}

.bio {
	width: 230px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	border-bottom: 1px solid black;
}

.location {
	padding-top: 10px;
	margin-left: 20px;
	height: 25px;
}

.email {
	padding-top: 10px;
	margin-left: 20px;
	height: 25px;
}

.hireable {
	padding-top: 10px;
}

.icon-items {
	position: relative;
}

.icon-1 {
	position: absolute;
	top: 12px;
}

.icon-2 {
	position: absolute;
	top: 46px;
	font-size: 5px;
}

.user-repos {
	float: left;
	margin-left: 50px;
	margin-top: 75px;
	height: 500px;
	border: 1px solid #d8d8d8;
	padding: 20px;
	overflow: scroll;
	width: 600px;
}

.results {
	float: left;
	margin-left: 50px;
	margin-top: 75px;
	height: 500px;
	border: 2px solid #d8d8d8;
	padding: 20px;
	overflow: scroll;
}

.user-repo-search {
	text-align: center;
	margin-left: 100px;
	width: 90%;
	padding-top: 25px;
	float: left;
	input {
		width: 300px;
		border-radius: 3px;
		border: 2px solid #d8d8d8;
		padding: 5px;
		font-size: 12px;
		box-shadow: none;
		&:focus {
			outline: none;
			border: 2px solid #51a7e1;
			box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
		}
	}
	button {
		width: 325px;
	}
}

.profile-repo {
	padding: 10px;
	border: 1px solid #d8d8d8;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 35px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5)
}

//search

.single-result-popup {
	position: fixed;
	padding: 10px;
	border: 1px solid #d8d8d8;
	background-color: #fff;
	left: 35%;
	right: 35%;
	top: 40%;
	box-shadow: 2px 2px 5px 1000px rgba(0,0,0,0.5);
	form {
		clear: both;
		textarea {
			margin-top: 10px;
			width: 100%;
		}
	}
}

.close {
	float: right;
	padding-bottom: 10px;
	color: red;
	cursor: pointer;
}

.allsearches {
	margin-left: 75px;
}

//home page

.all-repos {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.home-page-repo {
	float: left;
	padding: 10px;
	border: 1px solid #d8d8d8;
	width: 80%;
	margin-right: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 3px rgba(0,0,0,0.4)
}

.title {
	font-weight: bold;
	font-size: 14px;
	color: #4078c0;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.timestamp {
	float: right;
}

.github-repo-data {
	padding-bottom: 10px;
	border-bottom: 1px solid #d8d8d8;
}

.description-data {
	padding-top: 10px;
}

.user-data {
	padding-top: 10px;
}

.language {
	float: right;
}

.github-link {
	font-size: 12px;
	color: #4078c0;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.comments-link {
	padding-left: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #4078c0;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.delete {
	float: right;
	font-size: 12px;
	font-weight: bold;
	color: red;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

.block {
	display: block;
}

.repo-url {
	text-decoration: none;
}

.oc-url {
	text-decoration: none;
	color: #4078c0;
	&:hover {
		text-decoration: underline;
	}
}

.oc-login {
	font-size: 12px;
}

.single-comment {
	padding: 10px;
	padding-right: 0;
	margin: 15px;
	margin-right: 0;
	margin-left: 0;
	border-left: 1px solid black;
	min-height: 35px;
	box-shadow: 0 0 3px rgba(0,0,0,0.4)
}

.single-reply {
	padding: 10px;
	padding-right: 0;
	margin: 15px;
	margin-right: 0;
	border-left: 1px solid black;
	min-height: 35px;
	box-shadow: 0 0 3px rgba(0,0,0,0.4)
}

.single-subreply {
	padding: 10px;
	padding-right: 0;
	margin: 15px;
	margin-right: 0;
	min-height: 35px;
	border-left: 1px solid black;
	box-shadow: 0 0 3px rgba(0,0,0,0.4)
}

.view-more {
	margin-left: 10px;
	margin-top: 20px;
	font-size: 13px;
	color: #4078c0;
	cursor: pointer;
}

.edit {
	font-size: 12px;
	color: #4078c0;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

.button-box {
	clear: both;
	padding-top: 20px;
}

.user-desc-input {
	max-width: 95%;
}

.upvote-box {
	float: left;
	margin-top: 40px;
	text-align: center;
	width: 7%;
}

.upvote-count {
	padding-top: 10px;
	span {
		display: block;
	}
}

//single repo page

.single-repo {
	margin-left: 25px;
	margin-right: 25px;
}

.repository {
	min-height: 152px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.reply {
	font-size: 13px;
	cursor: pointer;
	color: #4078c0;
}

.timestamp-single {
	font-size: 13px;
}

.single-page-repo {
	padding: 10px;
	border: 1px solid #d8d8d8;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.single-post-form {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.comment-break {
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #d8d8d8;
}

.comment-block {
	margin: 10px;
}

.delete-single {
	font-size: 12px;
	font-weight: bold;
	color: red;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

.comment-upvote-box {
	float: left;
	padding-right: 10px;
}

.vote {
	color: black;
	transition: color .2s ease;
	&:hover {
		color: #4078c0;
		cursor: pointer;
	}
}

//welcome

.welcome {
	a {
		text-decoration: none;
	}
}

.w-logo {
	a {
		color: #fff;
		text-decoration: none;
	};
	.s1 {
		font-size: 30px;
		font-weight: bold;
	};
	.s2 {
		font-size: 30px;
	}
}

.w-header {
	width: 100%;
	background-color: #00A0F0;
	text-align: center;
	padding-top: 20px;
}

.w-headline {
	margin-top: 30px;
	height: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
	background-color: rgba(0,0,0,0.5);
}

.wh-main {
	text-align: center;
	font-size: 50px;
	color: #fff;
	display: block;
	text-decoration: none;
}

.wh-sub {
	color: #efefef;
	font-size: 20px;
	text-align: center;
	display: block;
}

.w-content {
	background-color: #f5f5f5;
	width: 100%;
}

.wc-box {
	height: 200px;
	width: 30.33%;
	border: 2px #efefef;
	border-radius: 3px;
	background-color: #fff;
	display: inline-block;
	margin: 20px;
	vertical-align: top;
}

.wc-title {
	text-align: center;
	padding: 10px;
	display: block;
	font-size: 15px;
	font-weight: bold;
}

.wc-para {
	padding: 10px;
	display: block;
	span {
		color: #00A0F0;
	}
}

.hero1 {
	background-image: url("../../images/hero-1.jpg");
	height: 50%;
	width: 100%;
	margin-top: 30px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.s3 {
	color: #00A0F0;
	font-size: 20px;
	font-weight: bold;
	display: block;
}

.w-section {
	height: 100px;
	line-height: 100px;
	width: 100%;
	background-color: #00A0F0;
	position: fixed;
	bottom: 0;
}

@media screen and (max-width: 415px) {
	.logo {
		margin: 0;
		margin-left: 5%;
	}

	.links {
		float: right;
		padding: 0;
		padding-right: 15px;
		span {
			display: block;
			font-size: 12px;
		}
	}

	.nav {
		position: relative;
	}

	.github-search {
		// position: absolute;
		// left: 10px;
		input {
			width: 165px;
		}
	}

	.upvote-buttons {
		margin-left: 10px;
	}

	.upvote-count {
		display: block;
		text-align: center;
		span {
			display: block;
			font-size: 11px;
		}
	}

	.home-page-repo {
		height: 130px;
		float: right;
		margin: 0;
		font-size: 10px;
		.user-desc {
			display: none;
		}
	}

	.user-info {
		width: 230px;
		padding-top: 0;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}

	.user-repos {
		margin: 0;
		padding: 0;
		margin-top: 10px;
		border: 0;
		width: 320px;
		height: 300px;
	}

	.profile-repo {
		margin: 0;
		width: 90%;
	}

	.user-repo-search {
		margin: 0;
		input {
			max-width: 300px;
		}
		button {
			max-width: 310px;
		}
	}

	.single-result-popup {
		width: 80%;
		position: fixed;
		left: 5%;
		right: 5%;
	}

	.single-repo {
		margin: 0;
	}

	.single-reply {
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.single-subreply {
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.allsearches {
		margin: 0;
	}

	.hero1 {
		height: 200px;
	}

	.w-headline {
		height: 80%;
	}

	.wh-main {
		font-size: 30px;
		padding: 0 10px;
	}

	.wh-sub {
		font-size: 20px;
		padding: 0 10px;
	}

	.w-content {
		overflow: auto;
	}

	.wc-box {
		display: block;
		margin: 15px auto;
		width: 90%;
	}

}