<div class="header">
	<div class="nav">
		<div class="logo">
			<a href="/#/"><img src="./images/github-logo.png"></a>
		</div>
		<div class="search-bar">
			<form class="github-search" name="github-search" ng-submit="vm.search(search)"><input type="text" name="searchbar" ng-model="search.q" placeholder="Search repositories"></form>
		</div>
		<div class="links">
			
			<a href="/#/login" ng-hide="vm.isLoggedIn">Login</a>
			<span ng-show="vm.isLoggedIn" ng-click="vm.logOut()">Logout</span>
			<span class="profile-link" ng-click="vm.viewProfile()">Profile</span>
		</div>
	</div>
</div>
<div class="content" ui-view></div>
<div class="footer"></div>