<div class="login-container">
	<div class="login-box">
		<form name="login" ng-submit="vm.login(user)" class="login">
			<label>Email</label>
			<input type="email" name="username-login" ng-model="user.email">
			<label>Password</label>
			<input type="password" name="password-login" ng-model="user.password">
			<button class="sign-in-button">Sign In</button>
		</form>
	</div>
	<div class="sign-up-box">
		<span>Don't have an account? <a class="register-link" href="/#/register">Sign up!</a></span>
	</div>
</div>