<div class="profile">
	<div class="user-info">
		<img src="{{vm.userData.avatar_url}}">
		<span class="name"> {{vm.userData.name}} </span>
		<span class="username">{{vm.userData.login}}</span>
		<span class="bio">{{vm.userData.bio}}</span>
		<div class="icon-items">
			<i class="icon-1 fa fa-map-marker" aria-hidden="true"></i><span class="location">{{vm.userData.location}} </span>
			<i class="icon-2 fa fa-envelope" aria-hidden="true"></i><span class="email"> {{vm.userData.email}} </span>
		</div>
		<span class="hireable">Hireable: Yes</span>
	</div>
	<div ng-hide="vm.results" class="user-repos">
		<div class="single-user-repo" ng-repeat="repo in vm.userRepos">
			<div>
				<span>{{repo.name}}</span>
				<span>{{repo.created_at}}</span>
				<span>{{repo.language}}</span>
				<a href="{{repo.html_url}}">View Repository</a>
			</div>
		</div>
	</div>
	<div ng-show="vm.results" class="results">
		<div class="single-user-repo" ng-repeat="filteredRepo in vm.filteredUserRepos">
			<div>
				<span>{{filteredRepo.name}}</span>
				<span>{{filteredRepo.created_at}}</span>
				<span>{{filteredRepo.language}}</span>
				<a href="{{filteredRepo.html_url}}">View Repository</a>
			</div>
		</div>
	</div>
	<form ng-submit="vm.foo(repoSearch.repository)">
		<input type="text" name="user-search" ng-model="repoSearch.repository">
		<button>Search {{vm.userData.login}}'s Repositories</button>
	</form>
</div>