<div class="profile">
	<div class="user-info">
		<img src="{{vm.userData.avatar_url}}">
		<span class="name"> {{vm.userData.name}} </span>
		<span class="username">{{vm.userData.login}}</span>
		<span class="bio">{{vm.userData.bio}}</span>
		<div class="icon-items">
			<i class="icon-1 fa fa-map-marker" aria-hidden="true"></i><span class="location">{{vm.userData.location}} </span>
			<i class="icon-2 fa fa-envelope" aria-hidden="true"></i><span class="email"> {{vm.userData.email}} </span>
		</div>
		<span class="hireable">Hireable: Yes</span>
	</div>
</div>