<div class="login-container">
	<div class="login-box">
		<form name="sign-up" ng-submit="vm.register(user)" class="login" ng-required="true">
			<div>Email</div>
			<input type="email" name="username-login" ng-model="user.email" ng-required="true">
			<div>Password</div>
			<input type="password" name="password-login" ng-model="user.password" ng-required="true">
			<div>Github Username</div>
			<input type="text" name="gh-username" ng-model="user.github" ng-required="true">

			<button class="sign-in-button">Create Account</button>
		</form>
	</div>
	<div class="sign-up-box">
		<span>Not sure yet?</span>
		<br>
		<a class="register-link" href="/#/welcome">Learn more about us.</a>
	</div>
</div>