<div class="welcome">
	<div class="w-header">
		<div class="w-logo">
			<a href="/#/"><span class="s1">GitHub</span> <span class="s2">Social</span></a>
		</div>
		
		<div class="hero1">
			<div class="w-headline">
				<span class="wh-main">Share code with others.</span>
				<span class="wh-sub">Great open source code shouldn't be hard to find.</span>
			</div>
		</div>
	</div>

	<div class="w-content">
		<div class="wc-box 1">
			<span class="wc-title">Community Driven</span>
			<span class="wc-para"><span>GitHub Social</span> is both run and used by community members that just want to write and see brilliant code. Everyone on GitHub Social comes from a different background, but here we are all just programmers.</span>
		</div>

		<div class="wc-box 2">
			<span class="wc-title">Easy to Use</span>
			<span class="wc-para"><span>GitHub Social</span> was designed for easy useage by everyday users, not just programmers. Whether you're reading code on the go or just trying to kill time, GitHub Social seeks to fulfil a pleasant and easy user experience.</span>
		</div>

		<div class="wc-box 3">
			<span class="wc-title">GitHub Integrated</span>
			<span class="wc-para"><span>GitHub Social</span> pulls data directly from github, making finding repositories and users easy.</span>
		</div>
	</div>

	<a href="/#/register"><div class="get-started">
		<div class="w-section">
			<span class="wh-main">Get Started</span>
		</div>
	</div></a>
</div>